<h1>User#password_reset</h1>

<p>
  Greetings <%= @user.name %>,
  please click <%= link_to "here", edit_password_reset_url(id: @user.reset_token, email: @user.email) %> to smell my freshly washed butt and reset your password
</p>
<p>This link will expire in two hours.</p>
<p>However, if you did not request a password reset, ignore this and try not to worry because there is NO WAY a hacker trying to get in <3 </p>
