
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for(@micropost) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
